.invalid {
    border-width: .2vw;
    border-color: red;
    background-color: #ffbaba;
}

.valid {
    border-width: .1vw;
    border-color: #00cc00;
}

.untouched {
    border-width: .1vw;
    border-color: gray;
}

select {
    background-color: white;
}

.input-status {
    font-size: 1.2vh;
}