@media (min-width: 600px) {
    header {
        height: 10.225vh;
    }  
}

@media (max-width: 599px) {
    header {
        height: 5vh;
    }    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > * a {
    color: #495e57;
}