@media (min-width: 600px) {
    .home-main {
        height: 304.95vh;
    }

    .home-testimonials-left-arrow,
    .home-testimonials-right-arrow {
        height: 3.6%;
        flex-basis: 1.7%;
    }

    .home-hero {
        flex-basis: calc(500% / 23);
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .home-highlights {
        flex-basis: calc(600% / 23);
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .home-testimonials {
        flex-basis: calc(600% / 23);
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .home-about {
        flex-basis: calc(600% / 23);
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .home-hero-text {
        flex-basis: 65%;
    }

    .home-hero-image {
        flex-basis: 35%;
    }

    .home-about-text,
    .home-about-image {
        margin-top: 15%;
    }

    .home-hero-text > button {
        margin-top: 50%;
    }

    h1 {
        font-size: 5vh;
    }

    h2 {
        font-size: 4vh;
    }

    h3 {
        font-size: 2.5vh;
    }
}

@media (max-width: 599px) {
    .home-main {
        height: 100vh;
    }

    .home-testimonials-left-arrow,
    .home-testimonials-right-arrow {
        height: 3.6%;
        flex-basis: 0.7%;
    }

    .home-hero {
        flex-basis: 22%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .home-highlights {
        flex-basis: 28%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .home-testimonials {
        flex-basis: 28%;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .home-about {
        flex-basis: 22%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .home-hero-text {
        flex-basis: 65%;
    }

    .home-hero-image {
        flex-basis: 35%;
    }

    .home-about-text,
    .home-about-image {
        margin-top: 7.5%;
    }

    .home-hero-text > button {
        margin-top: 30%;
    }

    h1 {
        font-size: 3.5vh;
    }

    h2 {
        font-size: 2.4vh;
    }

    h3 {
        font-size: 1.2vh;
    }
}

.home-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: content-box;
}

.home-hero {
    flex-shrink: 0;
    background: linear-gradient(#495e57 80%, transparent 0%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-highlights {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-highlights > h3 {
    flex-basis: 70%;
    flex-shrink: 0;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.home-testimonials {
    flex-shrink: 0;
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.home-about {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-hero-article {
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.home-hero-text {
    height: 80%;
    align-items: flex-start;
}

.home-hero-text > h4 {
    color: white;
}

.home-hero-figure {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-shrink: 0;
    justify-content: center;
    margin: 0;
}

.home-hero-image {
    height: 100%;
}

.home-hero-image-img {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    border-radius: 1vw 1vw 1vw 1vw;
}

h1, h2, h3, h5 {
    font-family: 'Markazi Text';
}

h1 {
    color: #c3a510;
    margin: 1vw 0 0;
}

h2 {
    color: #c3a510;
    margin: 2vw 0vw 0vw 0vw;
}

h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4 {
    font-size: 1.3vh;
    margin: 0vw 0vw 1vw 0vw;
}

h5 {
    font-size: 1vw;
}

.h4-left {
    font-family: 'Markazi Text';
}

.h4-right {
    font-family: 'Karla', sans-serif;
    color: #76640A;
}

.home-highlights-dish-figure {
    margin: 0;
    flex-shrink: 0;
}

.home-highlights-dish-img {
    width: 100%;
    border-radius: 1vw 1vw 0vw 0vw;
}

.home-highlights-delivery-figure {
    margin: 0;
    flex-shrink: 0;
    height: 4%;
    display: flex;
    width: 90%;
}

.home-highlights-delivery-img {
    height: 1vw;
    background-color: #f4ce14;
    opacity: 0.4;
    padding: .75vw .5vw .75vw .5vw;
    border-radius: 0vw 1vw 1vw 0vw;
}

.home-highlights > button {
    flex-shrink: 0;
    flex-basis: 20%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.home-highlights-delivery-figure > figcaption {
    font-weight: bolder;
    display: flex;
    align-items: center;
    background-color: #f4ce14;
    opacity: 0.4;
    border-radius: 1vw 0vw 0vw 1vw;
    padding-left: 1vw;
    height: 2.5vw;
    font-size: 1vw;
    color:rgba(16, 16, 16, 0.3);
}

.home-about-image {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home-about-text {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.home-about-figure {
    margin: 0;
    flex-shrink: 0;
    flex-basis: 35%;
}

.home-about-figure-left {
    margin-top: 11%;
}

.home-about-figure-right {
    margin-top: 5%;
    transform: translateX(-2.5vw);
}

.home-about-image-img {
    width: 100%;
    min-width: 125%;
    border-radius: 1vw 1vw 1vw 1vw;
}

blockquote {
    font-size: 1.1vw;
    margin-inline-start: 5vw;
    margin-inline-end: 0vw;
}

.home-about-text > blockquote > em > p,
.home-about-text > p {
    font-size: .85vw;
}