body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #f4ce14 !important;
  border-width: 0;
  border-radius: 1vw;
  width: 12vw;
  font-weight: bolder;
  height: 2.5vw;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 1vw;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1.1vw;
  text-align: justify;
}

:where(*,
*::before,
*::after) {
  box-sizing:inherit !important;
}