body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input[type="submit"] {
  background-color: #f4ce14;
  border-width: 0;
  border-radius: 1vw;
  width: 12vw;
  font-weight: bolder;
  height: 2.5vw;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 1vw;
}

button:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover {
  background-color: #FAE70A;
  color: #333333
}

button:disabled,
input[type="submit"]:disabled {
  opacity: 0.4;
  cursor: default;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1.1vw;
  /* text-align: justify; */
}

:where(*,
*::before,
*::after) {
  box-sizing:inherit !important;
}

.nav-skipper {
  flex-shrink: 0;
  flex-basis: 20.625%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

#nav-skipper-div {
  top: -50vh;
  position: absolute;
  left: 0vw;
}

#nav-skipper-div:focus {
  top: 0vh;
}

.nav-skipper > p {
  margin-block-start: 0.5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}